.wrapper {
  display: flex;
  justify-content: center;
}

.tabs {
  font-size: 20px;
}

.tabs .tab-registers {
  display: flex;
  background-color: RGB(255, 255, 255);
}

.jauge {
  display: flex;
  flex-direction: row;
}

.jauge .groupe {
  display: flex;
  flex-direction: row;
  width: 33%;
}

.jauge .jauge-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.jauge .jauge-container p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1vw;
}

.tabs button {
  padding: 0.5em;
  background-color: RGB(255, 255, 255);
  border: none;
  font: inherit;
  border-radius: 15px 15px 0px 0px;
}

.tabs .tab-registers button:hover {
  cursor: pointer;
}

.tabs .tab-bodies {
  padding: 0.5em;
  background-color: RGB(235, 235, 235);
  flex-grow: 1;
  overflow-y: auto;
}

.tabs button.active-tab {
  background-color: rgb(235, 235, 235);
}

.globalMonitoring {
  width: 82%;
  height: hv;
  left: 10%;
  top: 25%;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.cadre {
  color: #a5e3f6;
  font-family: "Comfortaa";
}

.infoPatient {
  display: flex;
  flex-direction: column;
}

.infoPatient p {
  color: white;
  font-size: 1.5vw;
  margin: 10px;
}

.infoPatient input {
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.infoPatient input:focus {
  border-radius: 5px;
  border: solid 1px #bfd9fa;
  background-color: #5dd1b7;
  color: black;
}

.infoPatient h3 {
  margin: 0;
}

.infoPatient .groupe {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoPatient .title {
  color: #bfd9fa;
  font-style: italic;
  font-size: 1.5vw;
  margin: 0;
  width: auto;
}

.infoPatient .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.infoPatient button {
  margin-top: 20px;
  background-color: #e0584c;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
}

.infoPatient button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.ui-slider .ui-slider-handle {
  height: 1.5em;
}

.title {
  font-family: "Montserrat";
  width: 70%;
  height: 15%;
  margin-top: 3%;
  text-align: center;
  border-radius: 15px;
  color: white;
  padding: 1vw;
  font-size: 1em;
}

#titleHeartPlot {
  background: #e0584c;
}

#titleTempPlot {
  background: #5dd1b7;
}

#titleNoisePlot {
  background: #712de0;
}

#titleDustPlot {
  background: #67b4c5;
}

#titleCo2Plot {
  background: rgb(11, 1, 1, 0.75);
}

#titleHumidityPlot {
  background: #235a8c;
}

img {
  width: 50%;
  height: 80%;
}

.Plot {
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 5%;
  width: 90%;
  height: 70%;
}

.info {
  padding: 5px;
  font-size: 1em;
}

#sdCard {
  color: #b17074;
}

#sdTemp {
  color: rgb(62, 119, 5);
}

#sdHumidity {
  color: #88d8f9;
}

#sdNoise {
  color: #324ab2;
}

#sdDust {
  color: #77b5fe;
}

#sdCo2 {
  color: #4a5a6a;
}

#meanCard {
  color: #ff6961;
}

#meanTemp {
  color: #34a853;
}

#meanHumidity {
  color: #80cee1;
}

#meanNoise {
  color: #7f00ff;
}

#meanDust {
  color: #22427c;
}

#meanCo2 {
  color: #2a303d;
}

.slider-box {
  width: 70%;
  height: 5%;
  transform: translate(-50, -50%);
  background: #0f056b;
  padding: 2vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-box input {
  margin-bottom: 10px;
}

.tabs .checkbox-row {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .checkbox-row input {
  width: auto;
}

.tabs .checkbox-row label {
  color: black;
  margin-right: 20px;
}

.checkbox-row input[type="checkbox"] {
  margin-right: 10px;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-container canvas {
  max-width: 80%;
  max-height: auto;
}

.slider-box button {
  margin-top: 20px;
  background-color: #e0584c;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
}

.slider-box button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

label,
input {
  border: none;
  display: inline-block;
}

label {
  font-size: 0.75em;
  color: white;
  font-weight: bold;
  text-align: center;
}

input {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-weight: 900;
  margin-bottom: 2%;
  outline: none;
  background: none;
  color: whitesmoke;
  font-family: "Montserrat";
}

.ul-slider-horizontal {
  height: 0.2em;
}

.ui-widget-header {
  background: white !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: white !important;
  font-weight: normal;
  border-radius: 10px !important;
  margin-top: -3px !important;
  outline: none;
}

.labelJauge {
  background-color: #0f056b;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

h1.labelJauge {
  padding: 20px 0 20px 0;
}

.plotJauge text {
  font-size: 2vw;
  font-weight: bold;
  color: black;
}

@media (max-width: 800px) {
  .info {
    font-size: 1.5em;
  }

  .title {
    padding: 0.6vw;
    font-size: 3vw;
  }

  h3 {
    font-size: 3vw;
  }

  img {
    width: 60%;
    height: 90%;
  }

  .info {
    margin-left: 10%;
    font-size: 2.5vw;
  }

  .Plot {
    width: 100%;
    height: 70%;
  }

  .graph {
    width: 100%;
  }

  .slider-box {
    width: 50%;
    padding: 0.75vw;
    text-align: center;
  }

  label {
    font-size: 0.5em;
    margin-left: 1%;
  }

  input {
    font-weight: 700;
  }

  .ul-slider-horizontal {
    height: 0.1em !important;
  }

  .infoPatient .title {
    font-size: 2vw;
  }

  .infoPatient input {
    font-size: 2vw;
  }

  .infoPatient p {
    font-size: 2vw;
  }

  .jauge {
    flex-direction: column;
  }

  .jauge .groupe {
    width: 100%;
  }

  .slider-box {
    display: none;
  }
}
