.Title_prod {
  font-family: "Krona ONE", sans-serif;
  margin-top: 7.5%;
  color: #306bc4;
}

.texte-milieu {
  font-family: "Krona ONE", sans-serif;
  color: #0775b2;
}



.introduction, .dust-cpt, .co2-cpt, .temp-cpt, .noise-cpt, .heart-cpt{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: hv;
  height: 30%;
  padding: 1px;
  border: solid 1px black;
}


p {
  width: 50%;
  height: 50%;
  align-items: center;
  background-color: rgb(0, 140, 250, 0.2);
  display: flex;
  border-radius: 20px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  border: solid 1px blue;
}


img {
  width: 70%;
  height: 50%;
  background-size: cover;
  background-position: center;
  background-color: rgb(207, 160, 233, 0.2);
  border-radius: 20px;
}



@media (max-width:880px){
  .introduction, .dust-cpt, .co2-cpt, .temp-cpt, .noise-cpt, .heart-cpt{
      flex-direction: column;
  }
}