body {
    background-color: #e9f3f9;
    background-image: url(images/bg-half.png), url(images/bg-half2.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.main-box {
    display: grid;
    position: absolute;
    top: 20%;
    margin: auto;
    justify-content:center ;
    padding-left: 10px;
    width: 96%;
    height: 70%;
    border-radius: 25px;
}

.main-box h1 {
    justify-self: center; /* center the item horizontally in its cell */
    align-self: center; /* center the item vertically in its cell */
    grid-row: 1;
    grid-column: 1;
    color: #2d67e0;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.1em;
}

.main-box h3 {
    justify-self: center; /* center the item horizontally in its cell */
    align-self: center; /* center the item vertically in its cell */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1;
    color: #2d67e0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.1em;
}

.main-box img {
    border-radius: 25px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    justify-self: center; /* center the item horizontally in its cell */
    align-self: center; /* center the item vertically in its cell */
    width: 70%;
    height: auto;
}

.top-bar {
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    left: 2%;
    right: 2%;
    display: flex;
    width: 96%;
    height: 10%;
    border-radius: 15px;
    align-items: center;
    justify-content: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 50px;
    color: #2d67e0;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 15px;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.top-bar-img {
    display: block;
    position: absolute;
    left: 1%;
    top: 14%;
    width: auto;
    height: 80%;
}

.top-bar-img img {
    width: 100%;
    height: 100%;
}

.page-button {
    height: 50px;
    float: right;
    padding: 10px 10px;
    text-align: right;
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 15px;
    color: #2d67e0;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border: 0;
}

.page-button:hover {
    background-color: #dde9ff;
}

.login-button {
  height: 50px;
  float: right;
  padding: 10px 10px;
  text-align: right;
  background-color: #2d67e0;
  margin-right: 10px;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-button:hover {
    background-color: #3f2de1;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.separator {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #dde9ff;
}

.sphere {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}
.link-page {
    height: 50px;
    float: right;
    padding: 10px 10px;
    text-align: right;
    background-color: #2d67e0;
    margin-right: 10px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    }
.search-box {
  display: flex;
  align-items: center;
  margin: 0 auto; /* centre horizontalement */
   /* réduit la largeur de la searchbox */
  height: 20px;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding-left: 10px;
  border-top: 2Opx;
  text-align: center;


}

.search-input {
  font-size: 16px;
  background-color: transparent;
  margin-left: 0%;
  width: 20px;

}


.search-results {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  max-height: 200px; /* ajustez la hauteur maximale selon vos préférences */
  overflow-y: auto; /* ajouter une barre de défilement verticale si les résultats dépassent la hauteur maximale */
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.search-results li {
  padding: 5px 0;
}

  
  .search-box form {
    display: flex;
  }
  
  
  .search-box button[type="submit"] {
    
    background-color: #2d67e0;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    
  }
  
  .search-results ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .search-results li {
    padding: 5px 0;
  }
  .onglets {
    display: inline-block;
    text-align: center; /* centre les éléments horizontalement */
  }
  .user-button {
    height: 35px;
    float: center;
    padding: 10px 10px;
    text-align: center;
    background-color: #2d67e0;
    margin-right: 10px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 
  .ticket-button {
    height: 35px;
    float: center;
    padding: 10px 10px;
    text-align: center;
    background-color: #2d67e0;
    margin-right: 10px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .user-button:active, .user-button:focus, .ticket-button:active, .ticket-button:focus {
    background-color: #71747d; /* couleur de fond lorsqu'enfoncé/sélectionné */
    color: #fff; /* couleur du texte lorsqu'enfoncé/sélectionné */
    border: none; /* supprime la bordure lorsqu'enfoncé/sélectionné */
    outline: none; /* supprime la bordure de sélection lorsqu'enfoncé/sélectionné */
  }