body{
    background-color: #e9f3f9;
    background-image: url(images/bg-half.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
	margin: 0;
	padding: 0;
    font-family: 'Krona One', sans-serif;
}

.top-bar {
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    left: 2%;
    right: 2%;
    display: flex;
    width: 96%;
    height: 10%;
    border-radius: 15px;
    align-items: center;
    justify-content: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 50px;
    color: #2d67e0;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.top-bar-img {
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 1%;
    top: 14%;
    width: auto;
    height: 80%;
}

.top-bar-img img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;
}

.top-bar-img img:hover{
    transform:translateY(-50%);
    transform: translateX(20%);
}


.page-button {
    height: 50px;
    float: right;
    padding: 10px 10px;
    text-align: right;
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 15px;
    color: #2d67e0;
    font-style: normal;
    font-family: 'Krona One',sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 0;
}

.page-button:hover {
    background-color: #dde9ff;
    cursor: pointer;
}

.login-button {
    height: 50px;
    float: right;
    padding: 10px 10px;
    text-align: right;
    background-color: #2d67e0;
    margin-right: 10px;
    border-radius: 15px;
    color: #ffffff;
    font-style: normal;
    font-family: 'Krona One',sans-serif;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-button:hover {
    background-color: #3f2de1;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.separator {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #dde9ff;
}

.sphere {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

div.conteneur{
    margin-top: 200px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 800px;
    border-radius: 15px;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.25);
    display: flex;
}

.conteneur .left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #B9D0FF;
    border-right: 1px solid #5DD1B7;
}

.conteneur .left span.compte{
    color: #E0584C;
}

.conteneur .left p:hover{
    color: #3f2de1;
    cursor: pointer;
}

.conteneur .left span.compte:hover{
    color: #FF0000;
    cursor: pointer;
}

.conteneur .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h3{
    color: #2d67e0;
    font-size: 21px;
}

.right .password_change{
    margin-top: 150px;
    width: 80%;
}

.right h3{
    margin-top: 50px;
}

.right .password_change p{
    padding-bottom: 80px;
    color: #2d67e0;
}

.conteneur .right .bouton button{
    padding: 10px 20px;
    width: 220px;
    border-radius: 10px;
    color: white;
    background-color: #E0584C;
    cursor: pointer;
    font-family: 'Krona One',sans-serif;
    border: solid 1px black;
}

.conteneur .right .bouton button:hover{
    background-color: #FF0000;
    opacity: 0.8;
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

.premier{
    display: flex;
}

.deuxieme{
    display: flex;
}

.troisieme{
    display: flex;
}

.premier p{
    margin-right: 80px;
}

.deuxieme p{
    margin-right: 48px;
}

.troisieme p{
    margin-right: 28px;
}


textarea{
    background-color: #5DD1B7;
    border-radius: 15px;
    height: 40px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    resize: none;
    font-size: 17px;
}


footer {
    padding: 30px;
    display: flex;
    width: 100%;
    background-color:rgb(0, 102, 255,0.18);
}

footer p{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content:space-around;
    font-family: 'Nunito',sans-serif;
}

footer img{
    width: 125px;
    align-items: flex-end;
}

span.email{
    color: #3f2de1;
}

@media screen and (max-width: 550px){
    body{
        font-size: 11px;
    }

    div.conteneur .right h3{
        font-size: 12px;
    }

    div.conteneur{
        margin-left: 3%;
        margin-right: 3%;
        height: 530px;
        border-radius: 15px;
        box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.25);
    }

    .right .password_change{
        margin-top: 50px;
        width: 80%;
    }

    div.conteneur .left p{
        font-size: 7px;
    }

    .right .password_change p{
        padding-bottom: 40px;
    }

    .conteneur .right .bouton {
        margin-top: 30px;
    }

    .password_change p{
        font-size: 9px;
        width: 180px;
    }

    .password_change{
        width: 9%;
    }

    textarea{
        width: 190%;
        height: 20px;
        font-size: 10px;
    }
    
    .password_change textarea{
        margin-top: 13px;
    }

    .conteneur .right .bouton button{
        font-size: 10px;
        padding: 9px 18px;
        width: 150px;
    }

}

.toggle-button {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ddd;
    margin: 10px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-in-out;
  }
  
  .toggle-input:checked + .toggle-label {
    transform: translateX(30px);
    background-color: green; /* Ajout de la couleur de fond verte */
  }
  

  